<?xml version="1.0"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="MySql.Data, Version=8.0.29.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On" defaultRedirect="Pages/PageError/Error.aspx">
      <error statusCode="404" redirect="Pages/PageError/Error404.aspx"/>
    </customErrors>
  </system.web>
  <appSettings>
    <add key="stringConection" value="Database=gcdesk;Data Source=localhost;User Id=root;Password=mysql123"/>
  </appSettings>
  <system.codedom>
    <compilers/>
  </system.codedom>
</configuration>