<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="On" defaultRedirect="Pages/PageError/Error.aspx">
      <error statusCode="404" redirect="Pages/PageError/Error404.aspx"/>
    </customErrors>
  </system.web>
  <appSettings>
    <add key="stringConection" value="Database=gcdesk; Data Source=localhost; User Id=gcdesk; Password=gcdesk "/>
  </appSettings>

  <system.codedom>
    <compilers>
     </compilers>
  </system.codedom>
</configuration>